# dependencies
node_modules
package-lock.json

# logs
*.log

# coverage
.nyc_output
coverage

# misc
.DS_Store
*.code-workspace
*.yaml

# editor settings
*.code-workspace

# env file for now api key (dev / test purposes only)
key.env

# ignore releases folder that hold pkg'd binaries
releases